<h4 >Contact Us</h4>
<ul class="nav flex-column">
  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Address</a></li>
  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Email Address</a></li>
  <li class="nav-item mb-2">
    <h4 >Social Media</h4>   
    <p class="mb-5 ">
        <a href="##" class="icon"><fa-icon [icon] = "faInstagram" class="mx-2" ></fa-icon ></a>
        <a href="##" class="icon"><fa-icon [icon] = "faTwitter" class="mx-2" ></fa-icon ></a>
        <a href="##" class="icon"><fa-icon [icon] = "faGithub" class="mx-2" ></fa-icon ></a>
        <a href="##" class="icon"><fa-icon [icon] = "faYoutube" class="mx-2" ></fa-icon ></a>
   
    </p>
  </li>
 
</ul>




