<div class="container-fluid ">
  <ul class="nav justify-content-end fixed" >
  <li class="nav-item links">
    <a class="nav-link active" aria-current="page" href="#"><button mat-button><fa-icon [icon] = "faHouse" class="mx-2 " ></fa-icon>{{ home}}</button></a>
  </li>
  <li class="nav-item links ">
    <a class="nav-link" href ="#about"><button mat-button><fa-icon [icon] = "faInfoCircle" class="mx-2" ></fa-icon>{{about}}</button></a>
  </li>
  <li class="nav-item links ">
    <a class="nav-link" href="#"><button mat-button><fa-icon [icon] = "faPhone" class="mx-2" ></fa-icon>{{ contact }}</button></a>
  </li>
  <li class="nav-item links  ">
    <a class="nav-link"><button mat-button [matMenuTriggerFor]="appMenu"><fa-icon [icon] = "faPenNib" class="mx-2" ></fa-icon>{{ projects }}</button></a>

    <mat-menu class="my-2 bg-secondary text-light w-100"  #appMenu="matMenu" xPosition="after" yPosition="below">
      <button class="btn" mat-menu-item >FrontEnd</button>
      <button  class="btn" mat-menu-item>BackEnd</button>
    </mat-menu>




  </li>

 <li class="nav-item links ">
    <a class="nav-link"><button mat-button><fa-icon [icon] = "faBlog" class="mx-2" ></fa-icon>{{ blog }}</button></a>
  </li>
  
  





  <button mat-button><fa-icon [icon] = "faBars" class="mx-2" ></fa-icon></button>
</ul>
</div>





<router-outlet></router-outlet>