<div class="my-5 container-fluid bg-danger">
  <ul class="nav justify-content-start">
  <li class="nav-item col-2 m-2">
    <a class="nav-link active" aria-current="page" href="#"><button mat-button>Home</button></a>
  </li>
  <li class="nav-item col-2 m-2">
    <a class="nav-link" href="#"><button mat-button>About</button></a>
  </li>
  <li class="nav-item col-2 m-2">
    <a class="nav-link" href="#"><button mat-button>Contact</button></a>
  </li>
  <li class="nav-item col-2 m-2">
    <a class="nav-link disabled"><button mat-button>Blog</button></a>
  </li>
</ul>
</div>
