<section class="container-fluid">
<div class="slider">
  <div class="load">

  </div>
  <div class="content">


<div class="row text-center">
  <div class="col-lg-3 col-12">
    <app-logo></app-logo>
  </div>
 


</div>



    
  
     
      <div class="principal">
    
        <h1 class="mb-5">Koda.Koda</h1>
        <p class="mt-5">Technology is something that is gaining increasing importance in the world today</p>
        <div class="col-lg-9 mt-sm-1">
          <app-menu></app-menu>
        </div>
    </div>

  </div>
</div>
</section>
