<div class="container py-5" id="about">
<h1 class="text-center">{{ title }}</h1>
<div class="container-fluid ">
  <mat-card class="about h-100">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>

    </mat-card-header>

    <mat-card-content>
      <p class="p-5">
     {{ description }}
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <a href = "##" class="m-4"> <span class="me-1"><i>Read More</i></span><fa-icon [icon] = "faAnglesRight"></fa-icon></a>
    </mat-card-actions>
   
  </mat-card>
</div>
</div>
